{% extends "layouts/base.html" %}
{% block title %}Main{% endblock title %}

{% block content %}

    <!-- Content -->
    <div class="content">

        <!-- Section 1 -->
        <div class="section-1-container section-container" id="section-1">
            <div class="container">
                <div class="row">
                    <div class="col section-1 section-description wow fadeIn">
                        <h2>Чем Занимаюсь</h2>
                        <div class="divider-1 wow fadeInUp"><span></span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 section-1-box wow fadeInUp">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="section-1-box-icon">
                                    <i class="fa-brands fa-telegram"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3>Телеграм</h3>
                                <p>Создание ботов. Рассылка, администрирование каналов, магазины и т.д.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInDown">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="section-1-box-icon">
                                    <i class="fa-solid fa-globe"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3>Сайты</h3>
                                <p>Лэндинг, магазин, блог, админ-панель</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInUp">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="section-1-box-icon">
                                    <i class="fa-solid fa-desktop"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h3>Программы для ПК</h3>
                                <p>ПО для персональных компьютеров под любую OS</p>
                                <p>Парсеры данных</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section 2 -->
        <div class="section-2-container section-container section-container-gray-bg" id="section-2">
            <div class="container">
                <div class="row">
                    <div class="col section-2 section-description wow fadeIn">
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 section-2-box wow fadeInLeft">
                        <h3>О себе</h3>
                        <p class="medium-paragraph">
                            Заниамюсь разработкой ПО с 2017 года.
                        </p>
                        <p><i class="fas fa-circle-check"></i> Помогу клиенту реализовать ПО под его задачу</p>
                        <p><i class="fas fa-circle-check"></i> При необходимости всегда предложу несколько вариантов решения</p>
                        <p><i class="fas fa-circle-check"></i> Умею в одностраничный сайт, сайт визитка, магазин, многостраничный с админ панелью уровня компании</p>
                        <p><i class="fas fa-circle-check"></i> Проблемы с сайтом или нужны дорабоки? Найду решение и исправлю ошибки логики (js, python, php), верстки (html, css)</p>
                        <p><i class="fas fa-circle-check"></i> Телеграм-Бот любой сложности: рассылка, магазин, игра и т.д. Также могу создать ВК бота</p>
                        <p><i class="fas fa-circle-check"></i> Большой опыт в написании различной сложности парсеров с выгрузкой в Google и Excel таблицы или на сайт</p>
                        <p><i class="fas fa-circle-check"></i> ПО для десктопа под Windows и Linux</p>
                    </div>
                    <div class="col-4 section-2-box wow fadeInUp">
                        <img src="/static/assets/img/11.jpg" alt="about-us">
                    </div>
                </div>
            </div>
        </div>

        <!-- Section 3 -->
        <div class="section-3-container section-container" id="section-3">
            <div class="container">

                <div class="row">
                    <div class="col section-3 section-description wow fadeIn">
                        <h2>Технологии</h2>
                        <div class="divider-1 wow fadeInUp"><span></span></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 section-3-box wow fadeInLeft">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="section-3-box-icon">
                                    <i class="fa-solid fa-code"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Языки программирования</h3>
                                <p>
                                    <i class="fa-brands fa-python"></i> Python
                                    <br>
                                    <i class="fa-brands fa-square-js"></i> Javascript
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 section-3-box wow fadeInLeft">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="section-3-box-icon">
                                    <i class="fa-solid fa-database"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Базы данных</h3>
                                <p>
                                    MySQL <br>
                                    PostgreSQL <br>
                                    SQLite
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 section-3-box wow fadeInLeft">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="section-3-box-icon">
                                    <i class="fas fa-cloud"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Фреймворки</h3>
                                <p>
                                    Django REST <br>
                                    <i class="fa-brands fa-react"></i> ReactJS <br>
                                    PyTelegramBotApi <br>
                                    Pyrogram <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 section-3-box wow fadeInLeft">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="section-3-box-icon">
                                    <i class="fab fa-google"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Другие технологии</h3>
                                <p>
                                    <i class="fa-brands fa-docker"></i> Docker <br>
                                    <i class="fa-brands fa-github"></i> Git <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Section 4 -->
        <div class="section-4-container section-container section-container-image-bg" id="section-4">
            <div class="container">
                <div class="row">
                    <div class="col section-4 section-description wow fadeInLeftBig">
                        <h2>Я считаю, что...</h2>
                        <p>
                            Программы должны быть не только функциональными, но и приятными в использовании
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col section-bottom-button wow fadeInUp">
                        <a class="btn btn-primary btn-customized-2 scroll-link" href="#section-6" role="button">
                            <i class="fas fa-envelope"></i> Контакты
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section 5 -->
        <div class="section-5-container section-container" id="section-5">
            <div class="container">
                <div class="row">
                    <div class="col section-5 section-description wow fadeIn">
                        <h2>Портфолио</h2>
                        <div class="divider-1 wow fadeInUp"><span></span></div>
                        <p>Разработано уже более 100 приложений, ботов, сайтов и парсеров</p>
                        <p>Список проектов <a href="/portfolio">здесь</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 section-5-box wow fadeInUp">
                        <div class="section-5-box-image"><img src="/static/assets/img/portfolio/111.jpeg"
                                                              alt="portfolio-1"></div>
                        <h3><a href="/portfolio#mysites">Сайты</a> <i class="fas fa-angle-right"></i></h3>
                        <p>Сайты создаются с нуля без использования конструкторов. Дизайн интерфейса создаем вместе с
                            заказчиком.</p>
                    </div>
                    <div class="col-md-4 section-5-box wow fadeInDown">
                        <div class="section-5-box-image"><img src="/static/assets/img/portfolio/222.jpg"
                                                              alt="portfolio-2"></div>
                        <h3><a href="/portfolio#mybots">Боты</a> <i class="fas fa-angle-right"></i></h3>
                        <p>Боты разрабатываются под конкретную задачу, но функционал можно расширять бесконечно. Ведется
                            разработка в т.ч. и ВК ботов.</p>
                    </div>
                    <div class="col-md-4 section-5-box wow fadeInUp">
                        <div class="section-5-box-image"><img src="/static/assets/img/portfolio/3.jpg"
                                                              alt="portfolio-3"></div>
                        <h3><a href="/portfolio#myprograms">Программы</a> <i class="fas fa-angle-right"></i></h3>
                        <p>Приложения для декстопа, консольные приложения, парсеры данных.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col section-bottom-button wow fadeInUp">
                        <a class="btn btn-primary btn-customized" href="#" role="button">
                            <i class="fas fa-sync"></i> Просмотреть заново
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section 6 -->
        <div class="section-6-container section-container section-container-image-bg bg-dark" id="section-6">
            <div class="container">
                <div class="row">
                    <div class="col section-6 section-description wow fadeIn">
                        <h2>Связаться со мной</h2>
                        <div class="divider-1 wow fadeInUp"><span></span></div>
                        <p>Свяжитесь удобным для вас способом по почте или через соц сети</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 section-6-box wow fadeInUp">
                        <h3>Email</h3>
                        <form action="/send_email" method="post">
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Email..."
                                       class="contact-email form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" placeholder="Тема..."
                                       class="contact-subject form-control">
                            </div>
                            <div class="form-group">
                                    <textarea name="message" placeholder="Сообщение..."
                                              class="contact-message form-control"></textarea>
                            </div>
                            <button role="button" type="submit" class="btn bg-secondary"><i
                                    class="fas fa-paper-plane"></i> Отправить сообщение
                            </button>
                        </form>
                    </div>
                    <div class="col-md-5 offset-md-1 section-6-box wow fadeInDown">
                        <h3>Соц сети</h3>
                        <div class="section-6-social">
                            <a href="#"><i class="fab fa-telegram"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- End content -->
{% endblock content %}