{% load static %}
<!-- Wrapper -->
<div class="wrapper">

    <!-- Sidebar -->
    <nav class="sidebar">

        <!-- close sidebar menu -->
        <div class="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <br>
        <br>

        <ul class="list-unstyled menu-elements">
            <li class="active">
                <a href="/"><i class="fas fa-home"></i> Домой</a>
            </li>
            <li>
                <a href="/#section-1"><i class="fas fa-cog"></i> Что разрабатываю</a>
            </li>
            <li>
                <a href="/#section-2"><i class="fas fa-user"></i> О себе</a>
            </li>
            <li>
                <a href="/portfolio"><i class="fas fa-pencil-alt"></i> Портфолио</a>
            </li>
            <li>
                <a href="/#section-6"><i class="fas fa-envelope"></i> Контакты</a>
            </li>
            <!--<li>
                <a href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="otherSections">
                    <i class="fas fa-sync"></i>Other sections
                </a>
                <ul class="collapse list-unstyled" id="otherSections">
                    <li>
                        <a class="scroll-link" href="#section-3">Our projects</a>
                    </li>
                    <li>
                        <a class="scroll-link" href="#section-4">We think that...</a>
                    </li>
                </ul>
            </li> -->
        </ul>

        <!-- <div class="to-top">
            <a class="btn btn-primary btn-customized-3" href="#" role="button">
                <i class="fas fa-arrow-up"></i> Top
            </a>
        </div>

        <div class="dark-light-buttons">
            <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
            <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
        </div> -->

    </nav>
    <!-- End sidebar -->

    <!-- Dark overlay -->
    <div class="overlay"></div>
    <!-- open sidebar menu -->
    <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
        <i class="fas fa-align-left"></i> <span>Меню</span>
    </a>

</div>
<!-- End wrapper -->